In [1]:
import pandas as pd

In [2]:
#create a sample data using Dataframe

df = pd.DataFrame(
    {
        "Name":["perminus", "michael", "william"],
        "Age": [22, 22, 21],
        "Sex": ["male", "male", "male"],
    }
)

In [3]:
#To print all the data in the dataframe
print(df)

       Name  Age   Sex
0  perminus   22  male
1   michael   22  male
2   william   21  male

In [4]:
#To print single columns only( Use the `df[]`)==Also known as a Series
print(df["Age"])

0    22
1    22
2    21
Name: Age, dtype: int64

In [5]:
#To create a series(column) from scratch
age = pd.Series([21,21,22],name="Age")

print(age)

0    21
1    21
2    22
Name: Age, dtype: int64

In [10]:
#gettin the maximum age - .max()

maximum_Age = df["Age"].max()

#Or for the series
maximum_Age = age.max()
print(maximum_Age)

22

In [11]:
#Statistical analysis of the available numerical data in the dataframe
df.describe()

             Age
count   3.000000
mean   21.666667
std     0.577350
min    21.000000
25%    21.500000
50%    22.000000
75%    22.000000
max    22.000000

In [ ]:
REMEMBER
Import the package, aka import pandas as pd

A table of data is stored as a pandas DataFrame

Each column in a DataFrame is a Series

You can do things by applying a method to a DataFrame or Series